<ng-container *ngIf="isPrefeito() || isVereador()">
    <div class="tableValues pt-3">
        <div class="pb-3">
            <h3>Ações Ambientais</h3>
            <h4>Preços</h4>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Poluição Mundial</th>
                            <th>Tratamento de Água</th>
                            <th>Tratamento de Lixo</th>
                            <th>Tratamento de Esgoto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Poluição >=30</td>
                            <td>D$ (poluição - 20) + 800</td>
                            <td>D$ (poluição - 20) + 1600</td>
                            <td>D$ (poluição - 20) + 2400</td>
                        </tr>
                        <tr>
                            <td>Poluição < 30</td>
                            <td>D$ 800</td>
                            <td>D$ 1600</td>
                            <td>D$ 2400</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="tableValues pt-3">
        <div class="pb-3">
            <h4>Redução na Poluição Mundial</h4>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Tratamento de Água</th>
                            <th>Tratamento de Lixo</th>
                            <th>Tratamento de Esgoto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5%</td>
                            <td>10%</td>
                            <td>15%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!isEmpresario()">
    <div class="tableValues pt-3">
        <div class="pb-3">
            <ng-container *ngIf="isAgricultor()">
                <h3>Poluição Gerada por produtos</h3>
            </ng-container>
            <ng-container *ngIf="isFiscal() || isPrefeito() || isVereador()">
                <h3>Poluição</h3>
                <h4>Gerada por agricultores</h4>
            </ng-container>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Hortaliça</th>
                            <th>Arroz</th>
                            <th>Soja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>S/ Agrotóxico</th>
                            <td class="cellGreenColour">10</td>
                            <td class="cellGreenColour">20</td>
                            <td class="cellGreenColour">30</td>
                        </tr>
                        <tr>
                            <th>Ag. Super Premium</th>
                            <td class="cellYellowColour">30</td>
                            <td class="cellYellowColour">60</td>
                            <td class="cellOrangeColour">90</td>
                        </tr>
                        <tr>
                            <th>Ag. Premium</th>
                            <td class="cellYellowColour">60</td>
                            <td class="cellMiddleRedColour">120</td>
                            <td class="cellMiddleRedColour">180</td>
                        </tr>
                        <tr>
                            <th>Ag. Comum</th>
                            <td class="cellOrangeColour">100</td>
                            <td class="cellRedColour">200</td>
                            <td class="cellRedColour">300</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isAgricultor()">    
    <div class="tableValues pt-3">
        <div class="pb-3">
            <h3>Produtividade</h3>
            <h4>Agrotóxico x Fertilizante</h4>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>S/ Fertilizante</th>
                            <th>F. Comum</th>
                            <th>F. Premium</th>
                            <th>F. Super Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>S/ Agrotóxico</th>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <th>A. Comum</th>
                            <td>30</td>
                            <td>60</td>
                            <td>90</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <th>A. Premium</th>
                            <td>60</td>
                            <td>120</td>
                            <td>180</td>
                            <td>240</td>
                        </tr>
                        <tr>
                            <th>A. Super Premium</th>
                            <td>100</td>
                            <td>200</td>
                            <td>300</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td colspan="5">1) Arroz c/ Agrotóxico duplica (2x) a quantidade final de produção.</td>
                        </tr>
                        <tr>
                            <td colspan="5">2) Soja c/ Agrotóxico triplica (3x) a quantidade final de produção.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="tableValues pt-2">
        <div class="pb-3">
            <h4>Máquina x Fertilizante</h4>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>S/ Fertilizante</th>
                            <th>F. Comum</th>
                            <th>F. Premium</th>
                            <th>F. Super Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>S/ Máquinas</th>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <th>Pulverizador*</th>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <th>Pacote 1</th>
                            <td>30</td>
                            <td>60</td>
                            <td>90</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <th>Pacote 2</th>
                            <td>60</td>
                            <td>120</td>
                            <td>180</td>
                            <td>240</td>
                        </tr>
                        <tr>
                            <th>Pacote 3</th>
                            <td>100</td>
                            <td>200</td>
                            <td>300</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td colspan="5">1) Pulverizador não aumenta a produção.</td>
                        </tr>
                        <tr>
                            <td colspan="5">* Pulverizador dimimui a poluição pela metade (1/2p) quando usado na plantação.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!isAgricultor()">
    <div class="tableValues pt-2">
        <div class="pb-3">
            <ng-container *ngIf="isEmpresario()">
                <h3>Poluição</h3>
            </ng-container>
            <ng-container *ngIf="isFiscal() || isPrefeito() || isVereador()">
                <h4>Gerada por empresários</h4>
            </ng-container>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="(isEmpresario() && isSemente()) || ((isPrefeito() || isVereador()) && isFromAtlantis()) || isFiscal()">
                        <tr *ngIf="isFiscal() || isPrefeito() || isVereador()">
                            <th colspan="2">Sementes</th>
                        </tr>
                        <tr>
                            <th scope="row">Hortaliça</th>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row">Arroz</th>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th scope="row">Soja</th>
                            <td>3</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="(isEmpresario() && isFertilizante()) || ((isPrefeito() || isVereador()) && isFromCidadela()) || isFiscal()">
                        <tr *ngIf="isFiscal() || isPrefeito() || isVereador()">
                            <th colspan="2">Fertilizantes</th>
                        </tr>
                        <tr>
                            <th scope="row">Comum</th>
                            <td>9</td>
                        </tr>
                        <tr>
                            <th scope="row">Premium</th>
                            <td>6</td>
                        </tr>
                        <tr>
                            <th scope="row">Super Premium</th>
                            <td>3</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="(isEmpresario() && isMaquina()) || ((isPrefeito() || isVereador()) && isFromAtlantis()) || isFiscal()">
                        <tr *ngIf="isFiscal() || isPrefeito() || isVereador()">
                            <th colspan="2">Máquinas</th>
                        </tr>
                        <tr>
                            <th scope="row">Máquinas 1</th>
                            <td>3</td>
                        </tr>
                        <tr>
                            <th scope="row">Máquinas 2</th>
                            <td>6</td>
                        </tr>
                        <tr>
                            <th scope="row">Máquinas 3</th>
                            <td>9</td>
                        </tr>
                        <tr>
                            <th scope="row">Pulverizador</th>
                            <td>40</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="(isEmpresario() && isAgrotoxico()) || ((isPrefeito() || isVereador()) && isFromCidadela()) || isFiscal()">
                        <tr *ngIf="isFiscal() || isPrefeito() || isVereador()">
                            <th colspan="2">Agrotóxicos</th>
                        </tr>
                        <tr>
                            <th scope="row">Comum</th>
                            <td>3</td>
                        </tr>
                        <tr>
                            <th scope="row">Premium</th>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th scope="row">Super Premium</th>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!isVereador()">
    <div class="tableValues pt-3">
        <div class="pb-3">
            <h3>Multas</h3>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Poluição*</th>
                            <th>Ação</th>
                            <th>Cálculo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>p < 90</td>
                            <td>S/ Multa</td>
                            <td>D$ 0</td>
                        </tr>
                        <tr>
                            <td>90 <= p < 120</td>
                            <td>Multa Leve</td>
                            <td>D$ (1 x poluição)</td>
                        </tr>
                        <tr>
                            <td>120 <= p < 200</td>
                            <td>Multa Média</td>
                            <td>D$ (2 x poluição)</td>
                        </tr>
                        <tr>
                            <td>200 <= p</td>
                            <td>Multa Pesada</td>
                            <td>D$ (3 x poluição)</td>
                        </tr>
                        <tr *ngIf="!isEmpresario()">
                            <td colspan="3">* Se agricultor, levar em consideração o valor da média de poluição de todas as parcelas de terra.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!isFiscal()">    
    <div class="tableValues pt-3">
        <div class="pb-3">
            <h3>Imposto</h3>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <tbody>
                        <tr>
                            <th rowspan="2">Produtividade (pr)</th>
                            <th colspan="3">Intervalo</th>
                        </tr>
                        <tr>
                            <td>Baixo</td>
                            <td>Médio</td>
                            <td>Alto</td>
                        </tr>
                        <tr>
                            <td><b>Tipo 1</b> (pr = 0)</td>
                            <td>D$5</td>
                            <td>D$10</td>
                            <td>D$15</td>
                        </tr>
                        <tr>
                            <td><b>Tipo 2</b> (0 < pr <= 200)</td>
                            <td>5% de pr</td>
                            <td>10% de pr</td>
                            <td>15% de pr</td>
                        </tr>
                        <tr>
                            <td><b>Tipo 3</b> (200 < pr)</td>
                            <td>25% de pr</td>
                            <td>30% de pr</td>
                            <td>35% de pr</td>
                        </tr>
                        <tr *ngIf="!isEmpresario()">
                            <td colspan="4">1) Parcela de terra c/ Selo Verde (dado pelo Fiscal) tem desconto de 5% no Imposto.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="tableValues pt-3">
        <div class="pb-3">
            <h3>Produtividade x Poluição Mundial</h3>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Produtividade</th>
                            <th>Poluição (x)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>100%</td>
                            <td>x < 30%</td>
                        </tr>
                        <tr>
                            <td>90%</td>
                            <td>30 <= x < 40</td>
                        </tr>
                        <tr>
                            <td>80%</td>
                            <td>40 <= x < 50</td>
                        </tr>
                        <tr>
                            <td>70%</td>
                            <td>50 <= x < 60</td>
                        </tr>
                        <tr>
                            <td>60%</td>
                            <td>60 <= x < 70</td>
                        </tr>
                        <tr>
                            <td>40%</td>
                            <td>70 <= x < 80</td>
                        </tr>
                        <tr>
                            <td>20%</td>
                            <td>80 <= x <= 99</td>
                        </tr>
                        <tr>
                            <td>0%</td>
                            <td>x = 100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>