@import '../../../styles.scss';

.cellGreenColour {
    background-color: lightgreen;
}
.cellYellowColour {
    background-color: yellow;
}
.cellOrangeColour {
    background-color: orange;
}
.cellMiddleRedColour {
    background-color: orangered;
}
.cellRedColour {
    background-color: darkred;
}