<p class="text-center text-muted" *ngIf="(orcamentos.length < 1)"> 
    Sem respostas.
</p>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-6" *ngFor="let orcamento of orcamentos">
            <div class="card">
                <div class="card-body {{ getColour(orcamento.sucesso) }}">
                    <h5 class="card-title">Orçamento de {{ orcamento.nomeAgr }}</h5>
                    <p class="card-text">Produto: {{ orcamento.nomeProduto }}</p>
                    <p class="card-text">Quantidade: {{ orcamento.quantidade }}</p>
                    <p class="card-text">Preco: {{ orcamento.preco }}</p>
                </div>
            </div>
        </div>
    </div>
</div>