<div class="container" style="color: darkgray; background-color: lightgray;">
    <h3 class="text-center">Continuar Jogo</h3>
    <form action="">
        <div>
            <label for="idJogo">ID do jogo</label>
            <input
                type="text"
                class="form-control form-control-sm"
                id="idJogo"
                placeholder="Em breve"
                disabled
            >
            <button class="btn btn--secondary mt-3" disabled>Continuar</button>
        </div>
    </form>
</div>