<app-alert></app-alert>
<div class="content pt-5 pb-5">
    <div class="container main__block pt-2 pb-3 pl-3 pr-3">
        <div class="text-center">
            <img src="../../assets/imgs/gorimLogo_v2.png" alt="Logo Gorim" class="w-50">
        </div>
        <div class="container margin-top pt-3 row justify-content-md-center">
            <div class="col-md-auto border border-light rounded p-1">
                <app-begin></app-begin>
            </div>
            <div class="col-md-auto border border-light rounded p-1">
                <app-join></app-join>
            </div>
            <!--div class="col-md-auto border border-light rounded p-1">
                <app-continue></app-continue>
            </div-->
        </div>
    </div>
</div>